h1 {
 font-family: "OCR A Std, monospace";
 color: "white";
}
a {
 font-family:"Didot, serif";
 color: "white";
}
#windowOfPain {
 border-radius: 15px 50px;
 display: 100px; 
 top: 44px; 
 height: 100%; 
 width: 25%; 
 background-color: whitesmoke;
}
